
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirm</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Data/main.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <div class="container">
        <h1 style=" margin-left: 260px;" class="text-center">Thông tin thành viên đã đăng ký</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 well well-sm col-md-offset-4">
                <form name="f1" action="/Index/Index" method="post" style="display: flex">

                    <img style="width: 200px; height: 200px; border-radius: 100px; align-self: center; display: flex; margin: auto;" src="@ViewBag.Avatar" />
                    <div>
                        <label class="form-control">Mã số nhân viên: @ViewBag.EmpID</label>
                        <label class="form-control">Họ tên: @ViewBag.Name</label>
                        <label class="form-control">Ngày sinh: @ViewBag.BirthOfDate</label>
                        <label class="form-control" for="">Email: @ViewBag.Email</label>
                        <label class="form-control" for=""> Mật khẩu: @ViewBag.Password</label>
                        <label class="form-control" for="">Đơn vị: @ViewBag.Department</label>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Quay lại</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</body>
</html>
