@*@model IEnumerable<BT_QLNV.Models.NhanVien>
*@@model PagedList.IPagedList<BT_QLNV.Models.NhanVien>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shaded/_LayoutQLNV.cshtml";
    string gtinh = "";
    int i = 0;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="row">
    @foreach (var item in Model)
    {


        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/Assets/avatar.jpg" alt="Card image cap">
                <div class="card-body">
                    @Html.DisplayFor(modelItem => item.HoNV)
                    @Html.DisplayFor(modelItem => item.TenNV)<br />
                    @{if (item.GioiTinh == true)
                        { gtinh = "Nam"; }
                        else
                        { gtinh = "Nữ"; }
                    }
                    @gtinh<br />
                    @Html.DisplayFor(modelItem => item.NgaySinh)<br />
                    @Html.DisplayFor(modelItem => item.Luong)<br />
                    @Html.DisplayFor(modelItem => item.AnhNV)<br />
                    @Html.DisplayFor(modelItem => item.DiaChi)<br />
                    @Html.DisplayFor(modelItem => item.PhongBan.TenPB)<br />

                    @Html.ActionLink("Edit", "Edit", new { id = item.MaNV }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaNV }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaNV })
                </div>
            </div>

        </div>



    }
    <!-- Thêm mã phân trang -->

</div>
<br />
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    <!-- Kết thúc -->
