@*@model List<BT_QLNV.Models.NhanVien>
*@
@model PagedList.IPagedList<BT_QLNV.Models.NhanVien>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Timkiem";
    Layout = "~/Views/Shaded/_LayoutQLNV.cshtml";
    string gtinh = "";
    int i = 0;
}

Nhập mã nhân viên cần tìm

@using (Html.BeginForm())
{
    <input type="text" name="tenNV" />
    <input type="submit" value="Tìm kiếm" />
    <h3>DANH SÁCH NHÂN VIÊN</h3>

    <p>
        @Html.ActionLink("Thêm mới", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                STT
            </th>
            <th>
                Mã NV
            </th>
            <th>
                Họ nhân viên
            </th>
            <th>
                Tên nhân viên
            </th>
            <th>
                Giới tính
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Lương
            </th>
            <th>
                Ảnh NV
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Phòng ban
            </th>
            <th>Chức năng</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{i++;}
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaNV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoNV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNV)
                </td>
                <td>
                    @{if (item.GioiTinh == true)
                        { gtinh = "Nam"; }
                        else
                        { gtinh = "Nữ"; }
                    }
                    @gtinh

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Luong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnhNV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaPB)
                </td>
                <td>
                    <a href="@Url.Action("Edit",
                        new { id = item.MaNV})" class="edit-btn"><abbr title="Cập nhật dữ liệu"><i class="fas fa-edit"></i></abbr></a>
                    <a href="@Url.Action("Details",
                        new { id = item.MaNV})" class="edit-btn"><abbr title="Xem chi tiết"><i class="far fa-list-alt"></i></abbr></a>
                    <a href="@Url.Action("Delete",
                        new { id = item.MaNV})" class="edit-btn">
                        <abbr title="Xóa dữ liệu">
                            <i class="fas fa-trash-alt"></i>
                        </abbr>
                    </a>
                </td>
            </tr>
        }

    </table>

}
<br />
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("TimKiem", new { page }))

